.store-layout      { display:flex; flex-direction:column; gap:12px; background: url(../../assets/images/ui/store_bg.jpg) center / cover;}
.store-layout h2 {
    margin-bottom: 0;
    color: var(--title-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    flex-shrink: 0;
    margin-top: 20px;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;}
.store-grid        { display:grid; grid-template-columns:repeat(6,1fr); gap:10px;
                     overflow-y:auto; padding-right:4px; }
.store-item        { background:var(--panel-background); border:1px solid var(--border-color);
                     border-radius:6px; text-align:center; padding:8px; position:relative;
                     display:flex; flex-direction:column; gap:6px; box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4); align-items: center;}
.store-item.owned  { filter:grayscale(1) opacity(.45); }
.store-item img    { width:40%; height:auto; }
.price-buttons     { display:flex; gap:6px; justify-content:center; margin-bottom: 20px;
    margin-top: 20px;}
.btn-price-gold,
.btn-price-gems    { flex:1; font-size:.8em; width: 120px;}
.store-detail-overlay { position:fixed; inset:0; background:rgba(0,0,0,.8);
                        display:none; align-items:center; justify-content:center; z-index:1000; }
.store-detail-overlay.active { display:flex; }
.detail-card       { background:var(--background-color); padding:40px; border-radius:10px;
                     width:460px; display:flex; flex-direction:column; gap:10px; border: 1px solid var(--border-color); box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4);}
.detail-actions    { display:flex; gap:10px; }

.store-item-image-container {
    width: 280px;            /* largura fixa desejada */
    height: 160px;           /* altura fixa desejada */
    margin: 0 auto;         /* centraliza horizontalmente */
    overflow: hidden;       /* corta excesso */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.store-item-image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;    /* mantém aspect ratio sem distorcer */
 }

.store-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.store-currency {
    display: flex;
    gap: 14px;
}

.gold-wrapper,
.gems-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: bold;
}



