/* css/base/_reset.css - Reset Básico */

/* Reset de margin, padding e definição de box-sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body, * { /* Apply to the entire body or specific game container */
    cursor: url('../../assets/images/ui/cursor.png'), auto;
  }
  